# Stock Market data prediction using Historical Data

<p><b>Subject</b>: AML<br>
<b>Rollno</b> : 20MCED05 & 20MCED08</p>
<b>Subject Code</b>: 3CS1111<br>

## Importing Libraries

In [567]:
import pandas as pd
from sklearn.linear_model import LinearRegression,LogisticRegression
import pandas_datareader as web
model = LinearRegression()

## Importing Data

In [568]:
# data_num = pd.read_csv('djia.csv')
data_num = web.DataReader('^DJI', data_source='yahoo', start='2008-08-08', end='2016-07-01')
data_num.reset_index(level=0, inplace=True)
data_num.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
1985,2016-06-27,17355.210938,17063.080078,17355.210938,17140.240234,1387400,17140.240234
1986,2016-06-28,17409.720703,17190.509766,17190.509766,17409.720703,1121900,17409.720703
1987,2016-06-29,17704.509766,17456.019531,17456.019531,17694.679688,1063800,17694.679688
1988,2016-06-30,17930.609375,17711.800781,17712.759766,17929.990234,1330300,17929.990234
1989,2016-07-01,18002.380859,17916.910156,17924.240234,17949.369141,821600,17949.369141

In [569]:
data_num.drop(['Date'],axis=1,inplace=True)
data_num.head()

,High,Low,Open,Close,Volume,Adj Close
0,11655.580078,11416.700195,11655.419922,11431.429688,2296100,11431.429688
1,11759.959961,11388.040039,11432.089844,11734.320312,2128300,11734.320312
2,11867.110352,11675.530273,11729.669922,11782.349609,1831900,11782.349609
3,11782.349609,11601.519531,11781.700195,11642.469727,1735900,11642.469727
4,11633.780273,11453.339844,11632.809570,11532.959961,1825500,11532.959961

In [570]:
X = data_num.drop(['Close','Adj Close','High'],axis=1)
# X = data_num.drop(['Close','Adj Close'],axis=1)

y = data_num['Close']

In [571]:
X.shape

(1990, 3)

## Training And Testing Data

In [572]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9993389763624261

# Training and Testing for Different Stock (TATA STEEL)

In [573]:
data_num1 = web.DataReader('TATASTEEL.NS', data_source='yahoo', start='2021-01-01', end='2021-01-08')
data_num1.reset_index(level=0, inplace=True)
data_num1.head(6)

        Date        High         Low  Open       Close    Volume   Adj Close
0 2021-01-01  649.700012  640.000000   645  643.099976   8411396  643.099976
1 2021-01-04  699.900024  646.450012   649  693.000000  38184955  693.000000
2 2021-01-05  693.849976  675.099976   687  680.549988  21545254  680.549988
3 2021-01-06  696.650024  675.000000   684  683.799988  19610522  683.799988
4 2021-01-07  731.500000  691.700012   693  722.799988  38232194  722.799988
5 2021-01-08  727.250000  703.099976   727  713.150024  19329313  713.150024

In [574]:
data_num1.drop(['Date','Close','Adj Close','High'],axis=1,inplace=True)
# data_num1.drop(['Date','Close','Adj Close'],axis=1,inplace=True)
data_num1.head()

          Low  Open    Volume
0  640.000000   645   8411396
1  646.450012   649  38184955
2  675.099976   687  21545254
3  675.000000   684  19610522
4  691.700012   693  38232194

In [575]:
# predicted_y = model.predict(data_num1.iloc[0].values.reshape(1,-1))
predicted_y = model.predict(data_num1)

In [576]:
predicted_y

array([ 967.83503056, 2274.54598579, 1575.64499962, 1491.45426881,
       2322.27069476, 1505.48069023])

# Predict next day's close price (Experimental)

In [577]:
# data_num = pd.read_csv('djia.csv')
data_num = web.DataReader('TATASTEEL.NS', data_source='yahoo', start='2020-01-01', end='2021-01-08')
data_num.reset_index(level=0, inplace=True)
data_num.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
251,2021-01-04,699.900024,646.450012,649.0,693.000000,38184955.0,693.000000
252,2021-01-05,693.849976,675.099976,687.0,680.549988,21545254.0,680.549988
253,2021-01-06,696.650024,675.000000,684.0,683.799988,19610522.0,683.799988
254,2021-01-07,731.500000,691.700012,693.0,722.799988,38232194.0,722.799988
255,2021-01-08,727.250000,703.099976,727.0,713.150024,19329313.0,713.150024

In [578]:
data_num['NextOpen'] = 0
data_num['NextClose'] = 0

In [579]:
data_num.tail()

,Date,High,Low,Open,Close,Volume,Adj Close,NextOpen,NextClose
251,2021-01-04,699.900024,646.450012,649.0,693.000000,38184955.0,693.000000,0,0
252,2021-01-05,693.849976,675.099976,687.0,680.549988,21545254.0,680.549988,0,0
253,2021-01-06,696.650024,675.000000,684.0,683.799988,19610522.0,683.799988,0,0
254,2021-01-07,731.500000,691.700012,693.0,722.799988,38232194.0,722.799988,0,0
255,2021-01-08,727.250000,703.099976,727.0,713.150024,19329313.0,713.150024,0,0

In [580]:
for i in range(0, len(data_num) - 1):
    data_num.loc[i, 'NextOpen'] = data_num.loc[i+1, 'Open']   
    data_num.loc[i, 'NextClose'] = data_num.loc[i+1, 'Close']

In [581]:
data_num

,Date,High,Low,Open,Close,Volume,Adj Close,NextOpen,NextClose
0,2020-01-01,476.500000,464.799988,473.0,467.750000,12100530.0,455.932159,472.000000,484.850006
1,2020-01-02,487.799988,472.000000,472.0,484.850006,21674961.0,472.600128,483.000000,483.700012
2,2020-01-03,486.200012,479.450012,483.0,483.700012,12956863.0,471.479187,480.000000,473.250000
3,2020-01-06,480.000000,470.549988,480.0,473.250000,9601608.0,461.293213,475.500000,476.100006
4,2020-01-07,484.600006,473.549988,475.5,476.100006,13195788.0,464.071198,471.649994,475.250000
...,...,...,...,...,...,...,...,...,...
251,2021-01-04,699.900024,646.450012,649.0,693.000000,38184955.0,693.000000,687.000000,680.549988
252,2021-01-05,693.849976,675.099976,687.0,680.549988,21545254.0,680.549988,684.000000,683.799988
253,2021-01-06,696.650024,675.000000,684.0,683.799988,19610522.0,683.799988,693.000000,722.799988
254,2021-01-07,731.500000,691.700012,693.0,722.799988,38232194.0,722.799988,727.000000,713.150024
255,2021-01-08,727.250000,703.099976,727.0,713.150024,19329313.0,713.150024,0.000000,0.000000

In [582]:
next_day_values5 =data_num.iloc[len(data_num)-4]

next_day_values7 =data_num.iloc[len(data_num)-2]

In [583]:
next_day_values5[1:]

High              693.85
Low                675.1
Open                 687
Close             680.55
Volume       2.15453e+07
Adj Close         680.55
NextOpen             684
NextClose          683.8
Name: 252, dtype: object

In [584]:
next_day_values5[:-1]

Date         2021-01-05 00:00:00
High                      693.85
Low                        675.1
Open                         687
Close                     680.55
Volume               2.15453e+07
Adj Close                 680.55
NextOpen                     684
Name: 252, dtype: object

In [585]:
next_day_values5 = next_day_values5[:-1]
next_day_values7 = next_day_values7[:-1]

In [586]:
data_num = data_num[:-4]

In [587]:
data_num

,Date,High,Low,Open,Close,Volume,Adj Close,NextOpen,NextClose
0,2020-01-01,476.500000,464.799988,473.000000,467.750000,12100530.0,455.932159,472.000000,484.850006
1,2020-01-02,487.799988,472.000000,472.000000,484.850006,21674961.0,472.600128,483.000000,483.700012
2,2020-01-03,486.200012,479.450012,483.000000,483.700012,12956863.0,471.479187,480.000000,473.250000
3,2020-01-06,480.000000,470.549988,480.000000,473.250000,9601608.0,461.293213,475.500000,476.100006
4,2020-01-07,484.600006,473.549988,475.500000,476.100006,13195788.0,464.071198,471.649994,475.250000
...,...,...,...,...,...,...,...,...,...
247,2020-12-29,639.650024,621.049988,637.849976,632.200012,10416326.0,632.200012,632.950012,640.450012
248,2020-12-30,643.950012,624.049988,632.950012,640.450012,11514428.0,640.450012,636.549988,643.650024
249,2020-12-31,653.500000,636.549988,636.549988,643.650024,17713012.0,643.650024,645.000000,643.099976
250,2021-01-01,649.700012,640.000000,645.000000,643.099976,8411396.0,643.099976,649.000000,693.000000
251,2021-01-04,699.900024,646.450012,649.000000,693.000000,38184955.0,693.000000,687.000000,680.549988

In [588]:
X = data_num.drop(['NextClose','Date'],axis=1)
# X = data_num.drop(['Close','Adj Close'],axis=1)

y = data_num['NextClose']
X_train, X_test, y_train, y_test = train_test_split(X,y)

model.fit(X_train, y_train)
model.score(X_test,y_test)

0.9847615252593906

In [589]:
predicted_close = model.predict([next_day_values7[1:]])

In [590]:
predicted_close

array([728.59257656])

In [591]:
next_day_values7

Date         2021-01-07 00:00:00
High                       731.5
Low                        691.7
Open                         693
Close                      722.8
Volume               3.82322e+07
Adj Close                  722.8
NextOpen                     727
Name: 254, dtype: object